<nav class="navbar  fixed-top navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <b>
            <h3>Pro Task</h3>
        </b>
    </div>
</nav>
<br>
<section id="bg-image" class="vh-100 gradient-custom">
    <div class="container py-1 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body">
                        <h3>Register Here</h3>
                        <form [formGroup]="form">
                           <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" formControlName="name" id="firstName" class="form-control" />
                                        <label class="form-label" for="firstName">Name</label>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" formControlName="email" id="lastName" class="form-control" />
                                        <label class="form-label" for="lastName">Email</label>
                                    </div>
                                </div>
                            </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4 d-flex align-items-center">
                                        <div class="form-outline datepicker w-100">
                                            <input type="text" formControlName="password" class="form-control"
                                                id="birthdayDate" />
                                            <label for="birthdayDate" class="form-label">Password</label>
                                       </div>
                                    </div>
                                </div>

                            <div class="text-center text-lg-start">
                                <button type="button" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="register()" [disabled]="!form.valid">Register</button>
                                &nbsp;&nbsp;
                                <span class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a type="button"
                                        routerLink="/login" class="link-danger">Login</a>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>